@import url(./__container/popup__container.css);
@import url(./__button/popup__button.css);
@import url(./__title/popup__title.css);
@import url(./__inputs/popup__inputs.css);
@import url(./__content/popup__content.css);
@import url(./__vector/popup__vector.css);
@import url(./__input/popup__input.css);
@import url(./__vector-button/popup__vector-button.css);



.popup{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    background: rgba(0,0,0,0);
    position: fixed;
    z-index: 5;
}

