@import url(./__container/popup__container.css);
@import url(./__button/popup__button.css);
@import url(./__title/popup__title.css);
@import url(./__inputs/popup__inputs.css);
@import url(./__content/popup__content.css);
@import url(./__vector/popup__vector.css);
@import url(./__input/popup__input.css);
@import url(./__vector-button/popup__vector-button.css);
@import url(./__pluse/popup__pluse.css);
@import url(./__pluse-container/popup__pluse-container.css);
@import url(./__pluse-button/popup__pluse-button.css);
@import url(./__vector-pluse/popup__vector-pluse.css);
@import url(./__content-pluse/popup__content-pluse.css);
@import url(./__pluse-title/popup__pluse-title.css);
@import url(./__input-pluse/popup__input-pluse.css);
@import url(./__inputs-pluse/popup__inputs-pluse.css);
@import url(./__input-pllink/popup__input-pllink.css);



.popup{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0,0,0,0);
    position: fixed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    transition: all 0.5s;
}


