html{
    background-color: black;
}

.page{
    font-family: 'Inter', 'Arial', sans-serif;  
    margin:auto;
    max-width: 1280px;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header{
    margin-top: 45px;
    max-width:  882px;
}

.logo{
    max-width:142px;
    min-height:33px;
    margin-bottom:40px;
}

.line{
    opacity: 0.7;
    border: 1px solid #545454;
}

.Profile{
    max-width:  882px;
    margin-top: 35px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.Avatar{
    max-width:168px;
    max-height:127px;
    border-radius: 50%;
}

.Profile__Info{
    margin-left: 30px;
}

.Profile__Button{
    display: flex;
    align-items: flex-end;
}

.Info__title{
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin-right: 17px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.Edit__button{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    max-width: 24px;
    max-height: 24px;
    margin-bottom: 12px;
}

.vector__button{
    margin: 6px;
    max-width: 10px;
    max-height: 10px;
}

.Info__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 5px;
}

.Avatar__profile-info{
    display:flex;
}

.Add__button{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    display: flex;
}

.add__vector{
    max-width: 22px;
    max-height: 22px;
    margin: auto;
}