@import url(./__Avatar-info/Profile__Avatar-info.css);
@import url(./__Avatar/Profile__Avatar.css);
@import url(./__button-add/Profile__button-add.css);
@import url(./__Button/Profile__Button.css);
@import url(./__Edit-button/Profile__Edit-button.css);
@import url(./__Info/Profile__Info.css);
@import url(./__subtitle/Profile__subtitle.css);
@import url(./__title/Profile__title.css);
@import url(./__vector-add/Profile__vector-add.css);
@import url(./__vector-button/Profile__vector-button.css);

.Profile{
    max-width:  882px;
    margin: 35px auto auto auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
