.Profile__title{
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin-right: 17px;
    color: #FFFFFF;
    margin-bottom: 0;
    max-width: 300px;
}

@media screen and (max-width : 740px){
    .Profile__title{
        max-width: 159px;
    }
}

@media screen and (max-width : 580px){
    .Profile__title{
        max-width: max-content;
    }
}

@media screen and (max-width : 425px){
    .Profile__title{
        font-weight: 500;
        font-size: 27px;
        line-height: 56px;
        margin-right: 6px;
    }
}
