.Profile__Avatar-info{
    display:flex;
}

@media screen and (max-width : 580px){
    .Profile__Avatar-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}