.popup__content-pluse{
    min-width:350px;
    min-height:260px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width : 620px){
    .popup__content-pluse{
       min-width:200px;
        min-height:198px;
    }
}