.popup__vector{
    position:absolute;
    top:-50px;
    right:-50px;
    cursor: grab;
    min-width: 37px;
    min-height: 37px;
}

.popup__vector:hover{
    opacity: .5;
    transition: .4s;
}

@media screen and (max-width : 620px){
    .popup__vector{
        top: -43px;
        right: -43px;
        width: 50px;
        height: 50px;
    }
    
}

@media screen and (max-width : 425px){
    .popup__vector{
        width: 11.76vw;
        height: 11.76vw;
        top: -10.12vw;
        right: -10.12vw;
    }
}
