.popup__vector-pluse{
    min-width: 37px;
    min-height: 37px;
}

.popup__vector-pluse:hover{
    opacity: .6;
    transition: .2s;
}

@media screen and (max-width : 620px){
    .popup__vector-pluse{
        width: 37px;
        height: 37px;
    }
}
